div.tema_list_img{
    position: relative;
    left: 0px;
    top: 0px;
}
p.best{
    width: 30px;
    height: 20px;
    font: normal 12px/20px 'Noto Sans KR';
    color: white;
    text-align: center;
    background: #ffaa16;
    position: absolute;
    left: 0px;
    top: 0px;
}
div.tema_list_img img{
    width: 100%;
    height: 300px;
}
div.tema_list_txt{
    width: 100%;
    height: 25%;
    background: #F6F6F6;
    color: #4D4D4D;
    padding-top: 5%;
    padding-left: 5%;
    box-sizing: border-box;
}
p.tema_list_maintm{
    width: 100%;
    height: 12px;
    margin-bottom: 10px;
    font: normal 12px 'Noto Sans KR';
}
p.tema_list_title{
    font: bold 20px 'Noto Sans KR';
}
p.tema_list_intro{
    font: normal 12px 'Noto Sans KR';
}
@media screen and (max-width:1200px){
     p.tema_list_title{
        width: 100%;
        font-size: 18px;
    }
}
@media screen and (max-width:1000px){
    p.tema_list_title{
        font-size: 16px;
    }
}