div.visual_wrap{
    width: 100%;
    height: 336px;
}
nav.visual{
    width: 336px;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
}
.SwiperSlide{
    position: relative;
    left: 0px;
    top: 0px;
}
ul.visual_list li:last-child{
    margin-right: 0px;
}
p.visual_title{
    font: normal 28px 'Black Han Sans';
    position: absolute;
    left: 15px;
    bottom: 48px;
    color: white;
}
p.visual_txt{
    font: normal 14px 'Noto Sans KR';
    position: absolute;
    left: 15px;
    bottom: 30px;
    color: white;
}