div.tema_wrap{
    width: 100%;
    height: auto;
    margin-top: 45px;
    position: relative;
    left: 0px;
    top: 0px;
}
section.tema{
    width: 336px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
h2.mobile_title{
    font: normal 24px 'Black Han Sans';
    margin-bottom: 15px;
}
div.tema_hashtag_detail{
    width: 100%;
    height: 100%;
}
ul.tema_hashtag_detail_list{
    width: 100%;
    height: 100%;
}
div.best_more_btn{
    width: 230px;
    height: 50px;
    background: #ffffff;
    border-radius: 15px;
    color: #000000;
    border: solid 1px #D6D6D6;
    text-indent: 38px;
    font: bold 14px/50px 'Noto Sans KR';
    position: absolute;
    left: 50%;
    margin-left: -115px;
    bottom: -80px;
}
div.best_more_btn span{
    position: absolute;
    right: 38px;
    top: 3px;
}