li.tema_list{
    width: 100%;
    height: 60px; /*닫힌 높이값 60px 324px*/
    overflow: hidden;
    transition: 0.2s ease-out;
}
li.tema_list.selected{
    height: 324px;
}
li.tema_list.selected p.tema_hashtag_detail_icon{
    rotate: 180deg;
}
div.tema_hashtag_detail_txt{
    width: 100%;
    height: 60px;
}
p.tema_hashtag_detail_title{
    width: 95%;
    font: normal 14px/60px 'Noto Sans KR';
    float: left;
}
p.tema_hashtag_detail_icon{
    width: 5%;
    font: bold 12px/60px 'Noto Sans KR';
    float: left;
}
div.tema_products{
    width: 100%;
    height: 258px;

}
ul.tema_products_list{
    width: 500px;
    height: 100%;
}
ul.tema_products_list>li{
    width: 200px;
    height: 100%;
    float: left;
    margin-right: 10px;
    position: relative;
    left: 0px;
    bottom: 0px;
    /* background: yellow; */
}
p.product_img img{
    width: 200px;
    height: 258px;
    border-radius: 15px;
}
div.product_txt_box{
    width: 100%;
    height: 75px;
    background: #323232ae;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 0px 0px 15px 15px;
    color: white;
}
p.product_txt{
    font: normal 16px 'Black Han Sans';
    position: absolute;
    left: 10px;
    top: 18px;
}
p.product_intro{
    font: normal 12px 'Noto Sans KR';
    position: absolute;
    left: 10px;
    top: 40px;
}