div.contents_wrap{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
}
div.membership_bg{
    width: 100%;
    height: 411px;
    background: url('/public/images/membership_event_bg.jpg') no-repeat;
    background-size: cover;
}
p.membership_title{
    width: 190px;
    height: 40px;
    font: bold 30px 'Noto Sans KR';
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -95px;
    top: 65px;
}
p.membership_txt{
    width: 250px;
    height: 40px;
    font: normal 14px 'Noto Sans KR';
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 115px;
}
section.membership_wrap{
    width: 1200px;
    height: 400px;
    background: rgba(255, 255, 255, 0.788);
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 200px;
}
div.membership{
    width: 100%;
    height: 100%;
}
ul.membership_list{
    width: 1000px;
    height: 350px;
    margin: 35px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
ul.membership_list li{
    width: 30%;
    height: 100%;
    margin-right: 2%;
    border-radius: 10px;
}
ul.membership_list li:last-child{
    margin-right: 0%;
}
p.membership_img img{
    width: 100%;
    border-radius: 10px;
}
@media screen and (max-width:1200px){
    section.membership_wrap{
        width: 100%;
        margin-left: -50%;
        top: 200px;
    }
    ul.membership_list{
        width: 83.33%;
    }
}