div.contents_wrap{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    overflow: hidden;
}
section.show_wrap{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    left: 0px;
    top: 0px;
}
h2.contents_title{
    width: 100%;
    height: 38px;
    font: normal 30px 'Black Han Sans';
    margin-bottom: 20px;
}
div.show{
    width: 100%;
    height: 480px;
}
div.show_inner{
    width: 100%;
    height: 100%;
    /* position: relative;
    left: 200px;
    top: 0px; */
}
div.show_img{
    width: 100%;
    height: 100%;
}
/* ul.show_list li:nth-child(1) div.show_img{
    background: url() no-repeat center 0px;
    background-size: contain;
}
ul.show_list li:nth-child(2) div.show_img{
    background: url('/public/images/show_img02.jpg') no-repeat center 0px;
    background-size: contain;
}
ul.show_list li:nth-child(3) div.show_img{
    background: url('/public/images/show_img03.jpg') no-repeat center 0px;
    background-size: contain;
}
ul.show_list li:nth-child(4) div.show_img{
    background: url('/public/images/show_img04.jpg') no-repeat center 0px;
    background-size: contain;
} */
/* ul.show_list li:nth-child(1){
    background: url('/public/images/show_img01.jpg') no-repeat center 0px;
    background-size: contain;
} */
div.show_txt_box{
    width: 50%;
    height: 90px;
    position: absolute;
    bottom: 22px;
    left: 50px;
}
p.show_tema{
    font: normal 12px 'Noto Sans KR';
    color: rgba(255, 255, 255, 0.74);
}
p.show_title{
    font: bold 24px 'Noto Sans KR';
    color: white;
    margin-bottom: 5px;
}
p.show_intro{
    font: normal 14px 'Noto Sans KR';
    color: rgba(255, 255, 255, 0.74);
}
button.favored_left_btn{
    left: 0px;
}
button.favored_right_btn{
    position: absolute;
    top: 50%;
    margin-top: -35px;
    right: 0px;
}
@media screen and (max-width:1200px){
    section.show_wrap{
        width: 100%;
    }
}